name: Mirror to College Repo

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Mirror to College Repository
        run: |
          git config --global user.name "mirror-bot"
          git config --global user.email "mirror@github.com"

          git remote add college https://sujithras270406-prog:${{ secrets.COLLEGE_TOKEN }}@github.com/sujithras270406-prog/SDN-Based-Traffic-Classification-AIML.git

          git push --force college main
